private.py
.history
*backups
*.lck
.kicad_prl

# ignore local secrets
google-cloud/Certificates/
google-cloud/Certificates/*

# ignore any certificates folders (common names)
**/Certificates/
**/Certificates/*
**/certs/
**/certs/*
*.crt
*.key
*.der