secrets.h
.history
*backups
*.lck
*.kicad_pcb
*.kicad_prl

# Ignore local secrets
google-cloud/Certificates/
google-cloud/Certificates/*

# Ignore any certificates folders (common names)
**/Certificates/
**/Certificates/*
**/certs/
**/certs/*